{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    <div class="col-sm-12 wrapper">
        <div class="auth-form">
            <h2 class="text-center">Login</h2>
            <hr>
            {% if error %}
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error!</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

                <div class="form-group col-md-12">
                    <label for="username">Email:</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                </div>
                <div class="form-group col-md-12">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="form-group">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Sign in
                    </button>                </div>
                <div class="text-center form-group">
                    Don't have an account? <span><a href="{{ path('user_registration') }}">Register</a></span>
                </div>

        </div>
    </div>

</form>
{% endblock %}
