{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
    <div class="col-sm-12 wrapper">
        <div class="auth-form">
            <h2 class="text-center">Register</h2>
            <hr>
            {{ form_start(form) }}
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    {{ form_row(form.displayName) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_row(form.email) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_row(form.plainPassword.first) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_row(form.plainPassword.second) }}
                </div>
            </div>
            <div class="form-group col-md-12">
                {{ form_row(form.submit) }}
            </div>
            {{ form_end(form) }}
            <div class="text-center">
                Have an account <span><a href="{{ path('app_login') }}">Login</a></span>
            </div>
        </div>
    </div>

{% endblock %}
