{% extends 'base.html.twig' %}

{% block title %}Teacher schedules{% endblock %}

{% block body %}
    <h1>Teacher schedules</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Weekday</th>
                <th>Class</th>

            </tr>
        </thead>
        <tbody>
        {% for schedule_class in schedule_classes %}
            <tr>
                <td>{{ schedule_class.id }}</td>
                <td>{{ schedule_class.startTime ? schedule_class.startTime|date('H:i:s') : '' }}</td>
                <td>{{ schedule_class.endTime ? schedule_class.endTime|date('H:i:s') : '' }}</td>
                <td>{{ schedule_class.weekday }}</td>
                <td>{{ schedule_class.class.name }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
