{% extends 'base.html.twig' %}

{% block title %}Classes{% endblock %}

{% block body %}
    <h1>Classes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ class.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ class.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('classes_index') }}">back to list</a>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('classes_edit', {'id': class.id}) }}">edit</a>

    {{ include('classes/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
