{% extends 'base.html.twig' %}

{% block title %}Teacher index{% endblock %}

{% block body %}
    <h1>Teacher index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>Lastname</th>
                <th>Class</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.firstName }}</td>
                <td>{{ teacher.lastname }}</td>
                <td>{{ teacher.class.name }}</td>
                <td>
                    <a href="{{ path('teacher_schedule', {'id': teacher.id}) }}">Schedules</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('teacher_edit', {'id': teacher.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('teacher_new') }}">Create new</a>
    {% endif %}
{% endblock %}
