{% extends 'base.html.twig' %}

{% block title %}Teacher{% endblock %}

{% block body %}
    <h1>Teacher</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ teacher.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ teacher.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ teacher.lastname }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('teacher_index') }}">back to list</a>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('teacher_edit', {'id': teacher.id}) }}">edit</a>

    {{ include('teacher/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
