<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </head>
    <body>
    <div id="app" class="col-md-10 mx-auto">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('index') }}"> {% if app.user %}{{ app.user.displayname }}{% endif %} </a>
                </div>
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="{{ path('index') }}">Home</a></li>
                    <li><a href="{{ path('classes_index') }}">Classes</a></li>
                    <li><a href="{{ path('teacher_index') }}">Teachers</a></li>
                    {% if app.user %}
                        <li><a href="{{ path('schedule_class_index') }}">Schedule</a></li>
                        <li><a href="{{ path('app_logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">Login</a></li>
                        <li><a href="{{ path('user_registration') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
