<form method="post" action="{{ path('schedule_class_delete', {'id': schedule_class.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ schedule_class.id) }}">
    <button class="btn">Delete</button>
</form>
