{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
<script type="text/javascript">
    var $schedule = $('#schedule_class_class');
    // When class gets selected ...
    $schedule.change(function() {
        // ... retrieve the corresponding form.
        var $form = $(this).closest('form');
        // Simulate form data, but only include the selected sport value.
        var data = {};
        data[$schedule.attr('name')] = $schedule.val();
        // Submit data via AJAX to the form's action path.
        console.log(data);
        $.ajax({
            url : $form.attr('action'),
            type: $form.attr('method'),
            data : data,
            success: function(html) {
                // Replace current position field ...
                $('#schedule_class_teacher').replaceWith(
                    // ... with the returned one from the AJAX response.
                    $(html).find('#schedule_class_teacher')
                );
                // Position field now displays the appropriate positions.
            }
        });
    });
</script>
{{ form_end(form) }}
