{% extends 'base.html.twig' %}

{% block title %}Edit ScheduleClass{% endblock %}

{% block body %}
    <h1>Edit ScheduleClass</h1>

    {{ include('schedule_class/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('schedule_class_index') }}">back to list</a>

    {{ include('schedule_class/_delete_form.html.twig') }}
{% endblock %}
