{% extends 'base.html.twig' %}

{% block title %}ScheduleClass index{% endblock %}

{% block body %}
    <h1>ScheduleClass index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Weekday</th>
                <th>Teacher</th>
                <th>Class</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for schedule_class in schedule_classes %}
            <tr>
                <td>{{ schedule_class.id }}</td>
                <td>{{ schedule_class.startTime ? schedule_class.startTime|date('H:i:s') : '' }}</td>
                <td>{{ schedule_class.endTime ? schedule_class.endTime|date('H:i:s') : '' }}</td>
                <td>{{ schedule_class.weekday }}</td>
                <td><a href="{{ path('teacher_schedule',{'id':schedule_class.teacher.Id}) }}">{{ schedule_class.teacher.firstName }} {{ schedule_class.teacher.lastName }} </a> </td>
                <td>{{ schedule_class.class.name }}</td>
               <td>
                    <a href="{{ path('schedule_class_show', {'id': schedule_class.id}) }}">show</a>
                    <a href="{{ path('schedule_class_edit', {'id': schedule_class.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('schedule_class_new') }}">Create new</a>
{% endblock %}
