{% extends 'base.html.twig' %}

{% block title %}New ScheduleClass{% endblock %}

{% block body %}
    <h1>Create new ScheduleClass</h1>

    {{ include('schedule_class/_form.html.twig') }}

    <a href="{{ path('schedule_class_index') }}">back to list</a>
{% endblock %}
