{% extends 'base.html.twig' %}

{% block title %}ScheduleClass{% endblock %}

{% block body %}
    <h1>ScheduleClass</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ schedule_class.id }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ schedule_class.startTime ? schedule_class.startTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ schedule_class.endTime ? schedule_class.endTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Weekday</th>
                <td>{{ schedule_class.weekday }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('schedule_class_index') }}">back to list</a>

    <a href="{{ path('schedule_class_edit', {'id': schedule_class.id}) }}">edit</a>

    {{ include('schedule_class/_delete_form.html.twig') }}
{% endblock %}
